
<div id="map-container" class="container-fluid">
	<div id="map-row" class="row-fluid">
		<div id="map-col" class="col">
			<h1>Less Screentime. More Facetime.</h1>
			<h2 class="text-muted">Your <mark>Local</mark> Network</h2>
			<div id="map"></div>		
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>Invite Your Best Friends</h2>
		</div>
		<div class="col-md-4">
			<h2>Map Your 5 Favorite Spots</h2>
		</div>
		<div class="col-md-4">
			<h2>Share Facetime</h2>
		</div>
	</div>
</div>
