
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col">
			<h1>Less Screentime. More Facetime.</h1>
			<h2 class="text-muted">Your <mark>Local</mark> Network</h2>
			<div id="map"></div>		
		</div>
	</div>
</div>
